
/* .body-pg {
   background-image: url("https://www.nicepng.com/png/detail/263-2631328_back-to-main-navigation-cargo-ship-transparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */  
