<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Shipment</title>
    <link rel="stylesheet" href="/static/css/shipment.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/invalid.css">
  </head>

  <body>
    <div class="box">
      <div class="error alert">
        <div class="alert-body">
          <p>Invalid User!!!</p>
          <button>
            <a href="/">Try Again :(</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
