<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Shipment</title>
  <link rel="stylesheet" href="/static/css/shipment.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/success.css">
</head>

<body>

  <div class="box">
    <div class="success alert">
      <div class="alert-body">
        <p>Successfully created !</p>

        <button>
          <a href="/shipment">Okay</a>
        </button>

      </div>
    </div>

  </div>
  </div>

</body>

</html>